.root {
  padding: 10px;
  width: fit-content;

  background-color: rgba(230, 230, 230, 0.9);
  border-radius: 32px;
}

.channel {
  background-color: #AAA;
  border-radius: 8px;
  margin: 10px;
  padding: 0 10px;

  font-weight: bold;
  font-size: 150%;
}

.users {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.user {
  position: relative;
  height: fit-content;
  width: fit-content;
  margin: 8px;

  transition: 0.25s;
}

.user:not(.speaking) {
  opacity: 0.1;
  transition: 0.5s;
}

.icon {
  height: 128px;
  aspect-ratio: 1/1;

  border-radius: 32px;
}

.decoration {
  position: absolute;

  height: 128px;
  aspect-ratio: 1/1;
}

.nick {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 0 10px;

  background-color: rgba(192, 192, 192, 0.7);
  border-radius: 8px;
  white-space: pre;
  font-weight: bold;
}

.name {
  display: none;

  white-space: pre;
  font-weight: bold;
}
